
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<center>
    <h2>  Thank you!</h2>
    <br />
    <h4> Thank you for the great rating</h4>
    <h4> Feel free to contact us if you have any suggestions on how we can better our services.</h4>

    <br />
    <br />
    <br />
    <br />
    <a href="@Url.Action("Index","Home")">
        <img src="@Url.Content("~/images/back.png")" alt="Back" title="Back" width="40" height="40" />
    </a>
</center>

