
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />

<center>
    <h2><b>Thank you!</b></h2>
    <br />
    <h4>You've rated us 3 or less stars.</h4>
    <h4>
        Please let us know what went wrong, so we can make sure it doesn't happen again.
    </h4>


    <br />
    <br />
    <br />
    <br />
    <a href="@Url.Action("Index","Home")">
        <img src="@Url.Content("~/images/back.png")" alt="Back" title="Back" width="40" height="40" />
    </a>

</center>

