<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/08f56471-432c-43a3-80d4-f40ecbf76a31/resourcegroups/CodexSprint3/providers/Microsoft.Web/sites/CodexSprint3</ResourceId>
    <ResourceGroup>CodexSprint3</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://codexsprint3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>codexsprint3.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CodexSprint3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CodexSprint3</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NewDeployDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:codexsprint3dbserver.database.windows.net,1433;Initial Catalog=CodexSprint3_db;User ID=admin@admin.com@codexsprint3dbserver;Password=Password#1" Name="Data Source=tcp:codexsprint3dbserver.database.windows.net,1433;Initial Catalog=CodexSprint3_db;User Id=admin@admin.com@codexsprint3dbserver;Password=Password#1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sprint1AppDev3A.Models.ApplicationDbContext, Sprint1AppDev3A" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:codexsprint3dbserver.database.windows.net,1433;Initial Catalog=CodexSprint3_db;User ID=admin@admin.com@codexsprint3dbserver;Password=Password#1" Name="Data Source=tcp:codexsprint3dbserver.database.windows.net,1433;Initial Catalog=CodexSprint3_db;User Id=admin@admin.com@codexsprint3dbserver;Password=Password#1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Sprint1AppDev3A-20180514084214.mdf;Initial Catalog=aspnet-Sprint1AppDev3A-20180514084214;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Sprint1AppDev3A-20180514084214.mdf;Initial Catalog=aspnet-Sprint1AppDev3A-20180514084214;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:codexsprint3dbserver.database.windows.net,1433;Initial Catalog=CodexSprint3_db;User Id=admin@admin.com@codexsprint3dbserver;Password=Password#1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NewDeployDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:codexsprint3dbserver.database.windows.net,1433;Initial Catalog=CodexSprint3_db;User Id=admin@admin.com@codexsprint3dbserver;Password=Password#1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="NewDeployDB" />
  </ItemGroup>
</Project>