
@{
    ViewBag.Title = "RouteTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RouteTable</h2>

<table class="table text-left">
    <tr>
        <th>
           JHB From /To :
        </th>
        <th>
           Frequency
        </th>
        <th>
           Dispatch days
        </th>
        <th>
           Transit time
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
           Johannesburg/Local
        </td>
        <td>
           Daily
        </td>
        <td>
           Same Day
        </td>
        <td>
           Same Day
        </td>
    </tr>
    <tr>
        <td>
           Cape Town
        </td>
        <td>
           Daily
        </td>
        <td>
           Mon / Tue / Wed 
        </td>
        <td>
           48Hrs
        </td>
    </tr>
    <tr>
        <td>
           Durban
        </td>
        <td>
           Weekly
        </td>
        <td>
           Mon-Fri
        </td>
        <td>
           24Hrs
        </td>
    </tr>
</table>
<table class="table text-left">
    <tr>
        <th>
           CPT From / To :
        </th>
        <th>
           Frequency
        </th>
        <th>
           Dispatch days
        </th>
        <th>
           Transit time
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
           Cape Town  /   Local  
        </td>
        <td>
           Daily
        </td>
        <td>
           Same Day
        </td>
        <td>
           Same Day
        </td>
    </tr>
    <tr>
        <td>
           Johannesburg
        </td>
        <td>
           Daily
        </td>
        <td>
           Mon/Wed/Fri
        </td>
        <td>
           48Hrs
        </td>
    </tr>
    <tr>
        <td>
           Durban
        </td>
        <td>
           Daily
        </td>
        <td>
           Mon/Tue/Fri
        </td>
        <td>
           48Hrs
        </td>
    </tr>
</table>
<table class="table text-left">
    <tr>
        <th>
           DBN From  / To :
        </th>
        <th>
           Frequency
        </th>
        <th>
           Dispatch days
        </th>
        <th>
           Transit time
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
           Durban  /  Local
        </td>
        <td>
           Daily
        </td>
        <td>
           Same Day
        </td>
        <td>
           Same Day
        </td>
    </tr>
    <tr>
        <td>
           Johannesburg
        </td>
        <td>
           Daily
        </td>
        <td>
           Mon-Fri
        </td>
        <td>
           24Hrs
        </td>
    </tr>
    <tr>
        <td>
           Cape Town
        </td>
        <td>
           Weekly
        </td>
        <td>
           Mon/Wed/Fri
        </td>
        <td>
          48Hrs
        </td>
    </tr>
</table>